* { box-sizing: border-box; font-family: system-ui; }

html, body {
  margin: 0;
  height: 100%;
  background: #0b141a;
}

/* LOGIN */
.login-body {
  display:flex;
  justify-content:center;
  align-items:center;
  background: linear-gradient(45deg,#833ab4,#fd1d1d,#fcb045);
}

.login-box {
  background:#000;
  padding:32px;
  width:90%;
  max-width:420px;
  border-radius:18px;
}

.login-box h1 {
  color:#fff;
  text-align:center;
  margin-bottom:24px;
}

.login-box input {
  width:100%;
  padding:16px;
  margin-bottom:12px;
  border-radius:12px;
  border:none;
  font-size:16px;
}

.login-box button {
  width:100%;
  padding:16px;
  background:#0095f6;
  color:#fff;
  border:none;
  border-radius:12px;
  font-size:18px;
}

/* HOME */
.top-bar {
  background:#202c33;
  padding:14px;
}

.top-bar h2 { color:#fff; margin:0 0 10px; }

.top-bar input {
  width:75%;
  padding:14px;
  border-radius:10px;
  border:none;
}

.top-bar button {
  padding:14px;
  background:#00a884;
  border:none;
  color:#fff;
  border-radius:10px;
}

/* CHAT */
.chat-header {
  background:#202c33;
  padding:14px;
  color:#fff;
  font-size:18px;
}

.messages {
  padding:14px;
  height: calc(100vh - 140px);
  overflow-y:auto;
}

.msg-me {
  background:#005c4b;
  color:#fff;
  padding:14px;
  border-radius:16px;
  max-width:75%;
  margin:10px 0 10px auto;
}

.msg-other {
  background:#202c33;
  color:#fff;
  padding:14px;
  border-radius:16px;
  max-width:75%;
  margin:10px 0;
}

.chat-input {
  display:flex;
  padding:14px;
  background:#202c33;
}

.chat-input input {
  flex:1;
  padding:16px;
  border-radius:24px;
  border:none;
}

.chat-input button {
  margin-left:10px;
  padding:16px 22px;
  background:#00a884;
  border:none;
  border-radius:50%;
  color:#fff;
  font-size:18px;
}
