*{
box-sizing:border-box;
touch-action:manipulation;
}

html,body{
margin:0;
height:100%;
overflow:hidden;
font-family:system-ui;
background:#0b141a;
color:white;
}

.home-header{
background:#075e54;
padding:15px;
display:flex;
justify-content:space-between;
}

.search{
width:100%;
padding:12px;
border:none;
background:#111;
color:white;
}

.chat-area{
height:calc(100vh - 120px);
overflow-y:auto;
padding:15px;
}

.msg{
padding:12px;
border-radius:18px;
margin:8px 0;
max-width:75%;
}

.me{
background:#25d366;
margin-left:auto;
}

.other{
background:#1f2c34;
}

.chat-input{
display:flex;
padding:10px;
background:#111;
}

.chat-input input{
flex:1;
padding:12px;
border-radius:25px;
border:none;
}

.chat-input button{
background:#25d366;
border:none;
width:50px;
border-radius:50%;
}

.profile-box{
padding:20px;
}

.profile-box input,textarea{
width:100%;
margin:10px 0;
padding:10px;
border-radius:8px;
border:none;
}
