body{margin:0;font-family:sans-serif}
.login-bg{
  height:100vh;
  background:linear-gradient(45deg,#ff004f,#ff8a00);
  display:flex;justify-content:center;align-items:center;
}
.login-box{
  background:black;
  padding:30px;
  border-radius:20px;
  width:300px;
  text-align:center;
}
.login-box h1{color:white}
.login-box input,button{
  width:100%;
  padding:14px;
  margin:10px 0;
  border-radius:12px;
  border:none;
}
button{background:#0095f6;color:white}

.dark{background:#0b141a;color:white;height:100vh}

.top-bar{padding:15px;background:#202c33}
.top-bar input{width:100%;padding:12px;border-radius:10px;border:none}

.chat-list{padding:10px}
.chat-item{display:flex;gap:10px;padding:12px;border-bottom:1px solid #222}
.avatar{width:45px;height:45px;background:#555;border-radius:50%}

.chat-header{padding:15px;background:#202c33}
.messages{padding:15px;height:70vh;overflow:auto}
.me{background:#005c4b;padding:10px;border-radius:12px;margin:8px 0;max-width:70%;margin-left:auto}
.other{background:#262d31;padding:10px;border-radius:12px;margin:8px 0;max-width:70%}

.input-bar{display:flex;padding:10px;background:#202c33}
.input-bar input{flex:1;padding:12px;border-radius:20px;border:none}
.input-bar button{margin-left:10px;padding:12px;border-radius:50%;border:none;background:#25d366;color:white}
