* { box-sizing: border-box; font-family: Arial; }

.login-bg {
  height:100vh;
  background: linear-gradient(45deg,#833ab4,#fd1d1d,#fcb045);
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-card {
  background:#111;
  padding:30px;
  border-radius:20px;
  width:90%;
  max-width:400px;
  color:white;
  text-align:center;
}

.login-card input, button {
  width:100%;
  padding:14px;
  margin:10px 0;
  border-radius:10px;
  border:none;
  font-size:16px;
}

button { background:#0095f6; color:white; }

.link { color:#0095f6; cursor:pointer }

.top-bar {
  padding:15px;
  background:#111;
  color:white;
}

#chatList div {
  padding:15px;
  border-bottom:1px solid #333;
  color:white;
}

.chat-bg { background:#0b141a; height:100vh; }

.chat-header {
  padding:15px;
  background:#202c33;
  color:white;
  display:flex;
  gap:10px;
}

#messages {
  padding:15px;
  height:75vh;
  overflow-y:auto;
}

.msg {
  max-width:75%;
  padding:12px;
  margin:8px;
  border-radius:15px;
}

.me { background:#005c4b; margin-left:auto; color:white }
.other { background:#202c33; color:white }

.chat-input {
  display:flex;
  padding:10px;
}

.chat-input input {
  flex:1;
  padding:12px;
  border-radius:20px;
}
